

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

/* .links {
    position:relative;
    top:-60px;
    right:40px;
    width:380px;
    display: flex;
    justify-content: center;
    margin-right:40px;


    }

a{
    background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block
} */

.links {
    display: flex;
    justify-content: space-between;

  }

  .links a {
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5% ;
    border-radius: 10px;
    width:30%;
    height: 20%;
  }
    .links a:hover{
      background-color: black;
      color:white;
    }

#craving-header{
  margin-left:20px;
  color:#9D5712;
  font-weight: 700;
  margin-top:200px;
}

.get-started{
  margin-left:20px;
  font-size: 1.3rem;
  margin-top:20px;
}

input[type="search"] {
  margin-left:20px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="search"]:focus{
  
  border-color: #9D5712
}

button.search {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.search:hover {
  background-color: black;
  color:white;
}

button.search:focus {
  outline: none;
}


input[type="search"],
button.search {
  border-radius: 50px;
}

.food {
  width: 100%;
  height: 80%;
  object-fit: contain;
}
